
table, tr, td, th {
    border: 1px #666 solid;
    margin: auto;
}

th,td {
    padding: 4px 8px;
}

table {
    width: 100%;
    max-width: 1200px;
}

th {
    text-align: center!important;
}
tr+tr:hover {
    background-color: #6785de;
    color: white;
    cursor: pointer;
}

tr+tr:hover a {
    color: white;
    cursor: pointer;
}